uav_simulator/save_map_point/*
uav_simulator/Mid360_simulation_plugin-main/*
test/traj_record/data/planning_time_cost.txt
uav_simulator/cmu_palnner/local_planner/rviz/cmu_planner.rviz
uav_simulator/dynamicvoronoi/data/*
test/*
fast_planner/plan_manage/maps/record_data/*
Utils/bspline_analysis/bspline_data/*
Utils/bspline_analysis/figures/*
Utils/debuglog/*
Utils/global_plan_record/Scene6/*
Utils/global_plan_record/Sprase/*
Utils/test/*
Utils/topo_prm_planner/data/*
Utils/traj_analysis/data/*
Utils/traj_analysis/data2/*
