<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>

  <!-- Start gazebo and load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
  <!-- Spawn the platform -->
  <!-- <param name="robot_description" textfile="$(find gazebo_simulator)/urdf/mid360_IMU_platform.urdf" /> -->
  
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find gazebo_simulator)/urdf/mid360_IMU_platform.xacro'"/> 
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -param robot_description -model mbot" output="screen" />


  <!-- RViz -->
  <arg name="rviz" default="false"/>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find livox_laser_simulation)/rviz/mid360_IMU_platform.rviz" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="tf_remap" args="0 0 0 0 0 0 base_footprint mbot::base_footprint 1000" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="tf_remap" args="0 0 0 0 0 0 livox laser_livox 1000" /> -->

</launch>