<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159"/> 
  <xacro:property name="laser_min_range" value="0.1"/>
  <xacro:property name="laser_max_range" value="30.0"/>
  <xacro:property name="ros_topic" value="/livox/lidar"/>
  <xacro:property name="samples" value="20000"/>
  <xacro:property name="downsample" value="1"/>
  <xacro:property name="gazebo_lidar_visualize"  value="True"/>
  <xacro:property name="publish_pointcloud_type" value="0"/>

  <xacro:macro name="null_inertial">
    <inertial>
      <mass value="0.1"/>
    <inertia ixx="0.01" ixy="0" ixz="0"
          iyy="0.01" iyz="0"
          izz="0.01"/>
    </inertial>
  </xacro:macro>

  <!-- Lidar Link -->
  <xacro:macro name="lidar_link" params="">
    <link name="lidar_link">
      <xacro:null_inertial/>
      <collision name="lidar_collision">
        <geometry>
          <box size="0.05 0.05 0.05"/>
        </geometry>
      </collision>
      <visual name="lidar_visual">
        <geometry>
          <box size="0.05 0.05 0.05"/>
        </geometry>
      </visual>
    </link>
    <link name="livox">
      <xacro:null_inertial/>
    </link>

    <joint name="lidar_link_to" type="fixed">
      <parent link="lidar_link"/>
      <child link="livox"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.2"/>
    </joint>

  </xacro:macro>

  <!-- Lidar Sensor -->
  <xacro:macro name="lidar_sensor" params="">
    <gazebo reference="livox">
        <sensor type="ray" name="laser_livox">
        <pose>0 0 0.0 0 0 0</pose>
        <visualize>True</visualize>
        <always_on>True</always_on>
        <update_rate>10</update_rate>
        <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
            <ray>
            <scan>
                <horizontal>
                <samples>100</samples>
                <resolution>1</resolution>
                <min_angle>${-1*M_PI}</min_angle>
                <max_angle>${1*M_PI}</max_angle>
                </horizontal>
                <vertical>
                <samples>50</samples>
                <resolution>1</resolution>
                <min_angle>${-1*M_PI}</min_angle>
                <max_angle>${1*M_PI}</max_angle>
                </vertical>
            </scan>
            <range>
                <min>${laser_min_range}</min>
                <max>${laser_max_range}</max>
                <resolution>1</resolution>
            </range>
            <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.0</stddev>
            </noise>
            </ray>
            <visualize>${gazebo_lidar_visualize}</visualize>
            <samples>${samples}</samples>
            <downsample>${downsample}</downsample>
            <csv_file_name>mid360-real-centr.csv</csv_file_name>
            <publish_pointcloud_type>${publish_pointcloud_type}</publish_pointcloud_type>
            <ros_topic>${ros_topic}</ros_topic>
            <!-- <frameName>base_link</frameName> -->
        </plugin>
        </sensor>
    </gazebo>
  </xacro:macro>

  <!-- Instantiate Lidar -->
  <xacro:lidar_link />
  <xacro:lidar_sensor />
</robot>