<launch>
    <arg name="stateEstimationTopic" default="/car_odom"/>
    <include file="$(find local_planner)/launch/local_planner.launch">
        <arg name="stateEstimationTopic" value="$(arg stateEstimationTopic)"/>
    </include>

    <include file="$(find terrain_analysis)/launch/terrain_analysis.launch">
        <arg name="stateEstimationTopic" value="$(arg stateEstimationTopic)"/>
    </include>
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find local_planner)/rviz/cmu_planner.rviz" output="log"/> -->
    

</launch>