<launch>
  <arg name="only2D" value="1"/>
  <arg name="only2D_not" value="0"/>

  <arg name="FilePath" value="/home/bhrqhb/catkin_ws/planner/catkin_ws_TGH_Planner/src/TGH-Planner/"/>
  <arg name="use_teb" value="false"/>
  <arg name="use_gazebo" value="true" />

  <!--这个odom是仿真的-->
  <arg name="used_odom_name" value="/car/odom"/>
  <arg name="max_vel_" value="2.0" />
  <arg name="max_acc_" value="1.5" />


  <arg name="max_steering_angel" value="45.0"/>
  <arg name="wheel_base" value="0.5"/>
  <!-- size of map, change the size in x, y, z according to your application -->
  <arg name="map_size_x" value="80.0"/>
  <arg name="map_size_y" value="80.0"/>
  <arg name="map_size_z" value=" 5.0"/>

  <!-- odom_topic是planner订阅用于规划 -->
  <!-- perception_data是sdf_map订阅用于建图，数据的位姿直接去tf里面查询，就不用再订阅传感器的位姿了 -->
  <!-- perception_data_type，用于处理depth_image = 1, 或者 point_cloud = 1-->
  <!-- lidar_link是雷达安装的位置，和小车的坐标轴一致 -->
  <!-- camera_link是相机安装的位置，和小车的坐标轴一致；camera_frame是图像帧的坐标轴，z轴朝前，x朝左，y朝右 -->
  <!-- 当前lidar的感知范围为11m， max_ray_length要比这个小才行-->
  <arg name="odom_topic" value="/car/odom" />
  <arg name="lidar_link" value="jackal/velodyne/VLP_16" />  
  <arg name="camera_link" value="d435_link" />
  <arg name="camera_frame" value="d435_depth_optical_frame" />  

  <!-- <arg name="perception_data_type" value="1" />
  <arg name="perception_data" value="/d435/depth/image_raw"/>
  <arg name="min_ray_length" value="0.1"/>
  <arg name="max_ray_length" value="7.0"/> -->

  <arg name="perception_data_type" value="2" />
  <arg name="perception_data" value="/jackal/velodyne/velodyne_points"/>
  <arg name="min_ray_length" value="0.1"/>
  <arg name="max_ray_length" value="10.0"/>

  <param name="/use_sim_time" value="false" />
  <!-- main algorithm params -->
  <include file="$(find plan_manage)/launch/kino_algorithm.xml">

    <arg name="FilePath" value="$(arg FilePath)"/>
    <arg name="only2D" value="$(arg only2D)"/>
    <arg name="wheel_base_" value="$(arg wheel_base)"/> 
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <arg name="perception_data" value="$(arg perception_data)"/>
    <arg name="perception_data_type" value="$(arg perception_data_type)"/>
    <arg name="camera_frame" value="$(arg camera_frame)"/>
    <arg name="camera_link" value="$(arg camera_link)"/>
    <arg name="lidar_link" value="$(arg lidar_link)"/>
    <arg name="min_ray_length" value="$(arg min_ray_length)"/>
    <arg name="max_ray_length" value="$(arg max_ray_length)"/>
    <!-- depth topic: depth image, 640x480 by default -->
    <!-- this param should consist with camera.yaml -->
    <!-- if use gazebo, this should consist with depth_camera_info -->
    <arg name="cx" value="320.0"/>
    <arg name="cy" value="240.0"/>
    <arg name="fx" value="381.3624572753906"/>
    <arg name="fy" value="381.3624572753906"/>

    <!-- maximum velocity and acceleration the drone will reach -->
    <arg name="max_vel" value="$(arg max_vel_)" />
    <arg name="max_acc" value="$(arg max_acc_)" />
    <arg name="max_steering_angel_" value="$(arg max_steering_angel)"/> 
    <!-- 1: use 2D Nav Goal to select goal  -->
    <!-- 2: use global waypoints below  -->
    <arg name="flight_type" value="1" />
    
    <arg name="use_teb" value="$(arg use_teb)" />
  </include>

  <!-- trajectory server -->
  <node pkg="plan_manage" name="traj_server" type="traj_server" output="screen">
    <remap from="/position_cmd" to="planning/pos_cmd"/>

    <remap from="/odom_world" to="$(arg odom_topic)"/>
    <param name="traj_server/time_forward" value="1.5" type="double"/>
    <param name="FilePath" value="$(arg FilePath)" type="string"/>
  </node>

  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
    <remap from="~odom" to="$(arg odom_topic)"/>        
    <remap from="~goal" to="/move_base_simple/goal"/>
    <remap from="~traj_start_trigger" to="/traj_start_trigger" />
    <!-- manual-lonely-waypoint：从rviz里面选点。waypts-target-2D：QHB规划实验用的 -->
    <!-- MODE -->
    <param name="waypoint_type" value="manual-lonely-waypoint"/> 
    <!-- <param name="waypoint_type" value="waypts-target-2D"/>  -->
    <rosparam file="$(find plan_manage)/config/waypts_2d.yaml"/>  
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_link" args="0 0 0 0 0 0 1 /world /map"/>

  <node pkg="dynavoro" name="dynavoro" type="mainLauMethod" output="screen"/>
  <!-- car_mpc -->
  <include file="$(find car_mpc)/launch/simulation.launch">
    <arg name="wheel_base_" value="$(arg wheel_base)"/>  
    <arg name="max_steering_angel_" value="$(arg max_steering_angel)"/>  
    <arg name="max_vel" value="$(arg max_vel_)"/>
    <arg name="max_acc" value="$(arg max_acc_)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>
  </include>

  <!-- use simulator -->
  <include file="$(find plan_manage)/launch/simulator.xml">
    <arg name="FilePath" value="$(arg FilePath)"/>
    <arg name="only2D" value="$(arg only2D)"/>
    <arg name="only2D_not" value="$(arg only2D_not)"/>
    <arg name="used_odom_name" value="$(arg used_odom_name)"/>
    <arg name="wheel_base_" value="$(arg wheel_base)"/> 
    <arg name="max_vel" value="$(arg max_vel_)" />
    <arg name="max_acc" value="$(arg max_acc_)" />
    <arg name="max_steering_angel_" value="$(arg max_steering_angel)"/> 
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="c_num" value="0"/>
    <arg name="p_num" value="250"/>
    <arg name="w_num" value="0"/>
    <arg name="u_w_num" value="0"/>
    <arg name="odometry_topic" value="$(arg odom_topic)" />
    <!-- MODE -->
    <arg name="use_teb" value="$(arg use_teb)" />
    <arg name="use_gazebo" value="$(arg use_gazebo)" />
  </include>

</launch>
